<h1>About Casper</h1>

<div>
	<p>Casper the Friendly Ghost is a fictional character and the protagonist of the Famous Studios theatrical animated cartoon series of the same name. As his name indicates, he is a ghost, yet he is quite personable.[1] According to the 1995 feature film Casper, his family name is McFadden, making his "full" name Casper McFadden.</p>
	<p>Given that Casper is depicted as a ghostly, portly little boy, there is a controversy among fans and critics of the series as to whether or not he is a dead child. Early Casper cartoons seemed to suggest this, as they portrayed him residing beside a headstone. Specifically, the short "There's Good Boos To-Night" featured Ferdie, a fox befriended by Casper, coming back from the dead as a ghost. Casper's death (as well as the reason why he became friendly) have been disputed since that time.</p>
</div>